

@media only screen and (max-width: 639px) {
    .center{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: #fff;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .center .c-items{
        align-items: start;
        justify-content: start;
    }
    .center .c-items ul{
        
      flex-direction: column;
      align-items: start;
      gap: 20px;

    }
}